<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>SmartNinja basic Jinja template</title>

    <link rel="stylesheet" href="/assets/css/style.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</head>
<body>
    <form method="post" action="/rezultat">
       <div class="col-lg-5 pull-left">
          <br>
           {% if napaka %}
           <div class="alert-danger">{{napaka}}</div>
           {% endif %}
          <div class="form-group">
             <input name="polje_ime" type="text" class="form-control" placeholder="Ime" id="a_raw" value="{{ ime }}">
          </div>
          <div class="form-group">
             <input name="polje_priimek" type="text" class="form-control" placeholder="Priimek" id="b_raw">
          </div>
          <div class="form-group">
             <input name="polje_email" type="text" class="form-control" placeholder="email" id="operacija">
          </div>
          <div class="form-group">   
            <textarea class="form-control" name="polje_sporocilo" placeholder="polje_sporocilo"></textarea>   
          </div> 
         <div class="row">
            <div class="col-lg-2 pull-right">
                <button type="submit" class="btn btn-primary btn-md pull-right">Poslji</button>
            </div>
           </div> 
          </div> 
        </form>  
    
    
</body>
</html>